

//aside 

$sidebar-bg-color: #fff;
$submenu-bg-color: #fff;
$submenu-bg-color-collapsed: #fff;
$sidebar-color: #000;
// $highlight-color: #fff;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;

@import '~react-pro-sidebar/dist/scss/styles.scss';

main {
  /* padding: 24px; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.app-logo {
  width: 95px;
  border-radius: 28px;
}
.block {
  /* display: flex; */
  /* margin-bottom: 24px; */
  font-size: 14px;
  color: #545454;
  width: 100%;
  height: 100%;
  /* height: 100vh; */
}
.app {
  height: 100%;
  display: flex;
  position: relative;
  width: 100%;
}

.pro-sidebar {
    box-shadow: 0px 1px 5px #DADADA;
  }



.pro-menu-item {
  &.active {  
    background-color:#12A9CC;
    color: #fff !important;
  }

  &:focus {
    color: #12a9cc !important;
  }
  &:hover {
    color: #12a9cc !important;

  }
}



