@import '../../assets//sass//Variables';
.app-header {
  position: absolute;
  top: 0px;
  background-color: transparent;
  width: 100%;
  z-index: 10000;
  & .nav-item {
    margin-inline: 15px;

    & a {
      color: #212832 !important;
      font-size: 13px;
      border-bottom: 2px solid inherit;
    }

    & a:hover {
      border-bottom: 2px solid #000;
    }
  }

  & .mobile-menu {
    & button {
      background-color: transparent;
      border: transparent;
      color: #212832;
    }
  }
}

.dropdown_header {
  margin-inline: 15px;

  & .button-toggle {
    background-color: transparent;
    border: transparent;
    color: #212832;
    direction: ltr;
  }
}

.dropdown_header .dropdown-menu.show {
  margin-top: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 10px 10px;
}

.dropdown_header hr {
  background-color: #bcbcbc;
  width: 100%;
}

.dropdown_header .button-toggle:active {
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: navajowhite;
}
.dropdown_header .button-toggle:focus {
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: navajowhite;
}

.dropdown_header ul li span {
  color: #444444;
}
