.news-section {
  padding: 20px 40px;
  position: relative;

  & .logo-photo-container{
    position: absolute;
    top: 0px;
    width: 300px;
  }

  & .first-title {
    color: rgba(94, 98, 130, 1);
    font-weight: bolder;
  }

  & .second-title {
    color: #5e6282;
    color: #000;
    font-weight: bolder;
    font-size: 60px;
  }

  .news-card {
    background-color: #ffffff;
    box-shadow: 0px 16px 26px #00000029;
    border-radius: 24px;
    height: 470px;
    // width: 200px;
    border: none;

    & .new-card-image {
      border-top-right-radius: inherit;
      border-top-left-radius: inherit;
      height: 370px;
    }
    & .card-text {
      height: 80px;
      color: #5e6282;
      font-size: 17px;
      font-weight: bold;
    }
    & .date-wrapper {
      display: flex;

      & .date-icon {
        color: #13beff;
        font-size: 25px;
      }
      & .date-text {
        color: #707070;
        font-size: 18px;
        margin-inline-start: 10px;
      }
    }

    & .card-options {
      justify-content: space-between;
    }

    & .card-options .icon {
      margin-inline-start: 5px;
    }
  }
}

.categories-column {
  justify-content: space-evenly;
}
