.news-button {
  color: rgba(15, 82, 110, 1);
  background: rgba(227, 227, 227, 1) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  border-color: transparent;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.news-button:hover {
  color: rgba(15, 82, 110, 1);
  background: #fff;
  border-color: #0eceff;
}

.news-button:active {
  color: rgba(15, 82, 110, 1);
  background: #fff;
  border-color: #0eceff;
  box-shadow: none;
  outline: none;
}

.news-button:focus {
  color: rgba(15, 82, 110, 1);
  background: #fff;
  border-color: #0eceff;
  box-shadow: none;
  outline: none;
}

.news-button-active {
  color: #fff;
  background: rgba(14, 206, 255, 1) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  border-color: transparent;
  width: 100px;
  box-shadow: none;
  outline: none;
}

.sign-button {
  background-color: transparent;
  color: #212832;
  border-color: #212832;
  margin-inline: 15px;
}

.social-button {
  background: #000;
  color: #fff;
  border-radius: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 40px;
  font-size: 10px;
  margin-inline: 3px;
  margin-top: 5px;
}


.view-all-news-button {
  background-color: #ff7c16;
  border-color: transparent;
  color: #fff;
  font-size: 13px;
  padding: 13px 50px;
  border-radius: 10px;
  font-weight: normal;
  border: 1px solid #ff7c16;
}

.view-all-news-button:active {
  color: #ff7c16;
  border: 1px solid #ff7c16;
  background-color: #fff;
}

.view-all-news-button:hover {
  color: #ff7c16;
  border: 1px solid #ff7c16;
  background-color: #fff;
}

.view-all-news-button:focus {
  color: #ff7c16;
  border: 1px solid #ff7c16;
  background-color: #fff;
}


.search-button {
  padding: 13px 20px;
}